---
interface Props {
	title: string;
}

import { ghostClient } from '../lib/ghost';
// export async function getStaticPaths() {
    const posts = await ghostClient.pages
        .browse()
        .catch((err) => {
            console.error(err);
        });
    if (!posts) return;
// }
import { NavigationMenu,
  NavigationMenuContent,
  NavigationMenuIndicator,
  NavigationMenuItem,
  NavigationMenuLink,
  NavigationMenuList,
  NavigationMenuTrigger,
  NavigationMenuViewport,} from '../components/ui/navigation-menu';
import type { PostOrPage } from '@tryghost/content-api';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<>
			{posts && (
				posts.map((post: PostOrPage) => {
					if (!post.slug) return;
					const url = post.slug === 'home' ? '/' : post.slug;
					const title = post.title?.includes('Untitled') ? 'Home' : post.title;
					return (
						<a href={url}>{title}</a>
					)
				})
			)}
		</>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
