---
import Layout from '../layouts/Layout.astro';
import { ghostClient } from '../lib/ghost';
const page = await ghostClient.pages
  .read({
      slug: 'home'
  })
  .catch((err) => {
      console.error(err);
  });
  if (!page) return;
---

<Layout title={page.title as string} classes="text-9xl font-extrabold break-all tracking-tighter">
  <section>
    <Fragment set:html={page.html} />
  </section>
</Layout>