---
import dynamicViteAssetImport from '../../lib/dynamicViteAssetImport';
import { ghostClient } from '../../lib/ghost';
import Image from 'astro/components/Image.astro';
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const posts = await ghostClient.posts
      .browse({
          limit: 'all',
          filter: 'tag:painting'
      })
      .catch((err) => {
          console.error(err);
      });
  if (!posts) return;
  return posts.map((post) => {
    if (!post.feature_image) return;
    return {
      params: {
        painting: post.slug,
      },
      props: {
        post: post,
      },
    };
  });
}
const { post } = Astro.props;
const {title, feature_image} = post;
const urlObj = new URL(feature_image as string);
const imgSrc = `../../../src/assets${urlObj.pathname.replace('/content/images', '')}`;

---
<Layout title={post.title as string}>
    <div class="flex justify-center items-center">
      {feature_image && (
        <Image src={dynamicViteAssetImport(imgSrc)} alt={title as string} width="600" height="600"/>
      )}
      <Fragment set:html={post.html} />
    </div>
</Layout>