---
import { ghostClient } from '../../lib/ghost';
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
    const posts = await ghostClient.posts
        .browse({
            limit: 'all',
            filter: 'tag:painting'
        })
        .catch((err) => {
            console.error(err);
        });
    if (!posts) return;
    return posts.map((post) => {
      if (!post.feature_image) return;
        return {
            params: {
                painting: post.slug,
            },
            props: {
                post: post,
            },
        };
    });
}
const { post } = Astro.props;
const {title, feature_image} = post;
---
<Layout title={post.title as string}>
    <body>
      <!-- <h1>{post.title}</h1> -->
      {feature_image && (
        <img src={feature_image} alt={title} />
      )}
      <Fragment set:html={post.html} />
    </body>
</Layout>